.user-container {
  border: 1px solid rgb(37,60,79);
  width: 250px;
  height: 320px;
  padding: .7rem;
  /* display: grid;
  grid-template-columns: 1fr 2fr 2fr 3fr 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin: 2rem;
}

.user-container-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  margin-bottom: 1rem;
}

.user-container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1rem;
}

.user-container-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-around;
  padding: 1rem;
}

.user-container-3 p {
  margin-bottom: .5rem;
}

.user-container-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-around;
}

.user-container-4 {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}

.user-link-container {
  display:flex;
  flex-direction: row;
}

.user-link {
  display: flex;
  flex-direction: row;
}

.user-link > p {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  transition: all .3s ease;
  margin-left: 10px;
}

.user-link > p:hover {
  transform: translateY(-5px);
  color:white;
}

.user-img {
  height: 80px;
  width: auto;
  object-fit: cover;
  border-radius: 15%
}

.user-container-4 div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row-wrap;
}

.tags {
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(82,115,124);
  padding: .2rem .8rem;
  margin-right: .4rem;
  border-radius: 25px;
  text-align: center;
}


.edit-container {
  width: 90vw;
  display:flex;
  flex-direction: column;
  border: 1px solid rgb(37,60,79);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.edit-container__button {
  align-self: flex-end;
  justify-self: flex-start;

}