body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(19,39,58);
  color:rgb(92,186, 216);
}

* {
  margin: 0;
  padding: 0;
}

/* Typography definition */

.paragraph-grey {
  color: rgb(82,115,124);
  font-size: 16px;
}